*
{
  box-sizing: border-box;
}

body
{
  margin:0;

  font-family: 'Poppins', sans-serif;
  background: whitesmoke;
  overflow-x: hidden;

}

.header
{
  text-align: left;
  background: whitesmoke;
  color:black;
  float: left;


}

.header img
{
  width: 250px;
  padding:0px 10px 0 40px;
  font-size: 20px;
  margin-top: 0px;
  display: flex;
}
/*
.header h1
{
  padding:20px 10px 0 40px;
  font-size: 20px;
  margin-top: 0px;
  display: flex;

}
*/

.navbar
{
  overflow: hidden;
  background-color: whitesmoke;
  text-align: center;
  padding-right:100px;


}
.navbar a
{
  display: inline-block;
  padding: 20px 20px 20px;
  text-decoration: none;
  color:black;
}

.navbar a:hover
{

  color:red;
}

.footer
{

  text-align: center;
  padding: 3px;
  /*background-color: DarkSalmon;*/
  background-color: #555273;
  color: white;


}

.footer p
{
  color: white;
}

/*Index 2*/

.titulo
{
    text-align: left;
    padding:0 0 20px;
    margin-left: 25px;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px 50px;

}

/* Remove extra left and right margins, due to padding */
.row {margin: 10 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card
 {

  max-width: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: auto;
  text-align:center;
  font-family: arial;
  color: #808080;

}


.card p
{
    display: inline-block;
    padding: 0 10px;
}

.card a
{
  color: #808080;
}


.card img
{
  width: 300px;

}

.price
{
  color: black;
  font-size: 22px;
  text-align: right;

}

.search
{
  text-align:right;
  float: right;
  display:flex;
}
